<html>

</html>

</html>

</html>

<body>
    <p>Dear <b>{{name}}</b>,</p><br>
    <p>I hope this email finds you well.</p><br>
    <p>The status of task <b><i>{{title}}</i></b> has been updated to <i><b>{{status}}</b></i>.</p>
    <br><br><br>
    <p>Best regards,</p><br>
    <p>Bagman Company</p>
</body>

</html>