<html>

</html>

</html>

<body>
    <p>Dear {{name}},</p><br>
    <p>I hope this email finds you well.</p><br>
    <p>I would like to inform you that the task titled <b>{{title}}</b>, which you created, has been successfully assigned to
        <b>{{assignees}}</b>. They will now be responsible for its completion.</p><br>
    <p>Please review the task and proceed with any necessary actions.
        If you have any questions or need further clarification, feel free to reach out.</p>
    <br><br><br>
    <p>Best regards,</p><br>
    <p>Bagman Company</p>
</body>

</html>